* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    font-weight: medium;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: #282828;
    padding-inline: 3em;
    font-weight: lighter;
    font-size: 2em;
}
.dis p {
    font-weight: lighter;
    font-size: 0.5em;
}

img {
    width: 30%;
    padding-top: 1em;
    padding-right: 3em;
    height: 100%;
    transition: transform 0.5s;
}
img:hover {
    transform: scale(0.9);
}

#myVideoDesign {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}


.bold {
    font-size: 500%;
    font-weight: bold;
}

.medium {
    font-size: 300%;
    font-weight: bold;
}

.small {
    font-size: 200%;
    font-weight: medium;
    align-items: right;
    padding-top: 1em;
    padding-bottom: 1em;
}

.highlightyellow:hover {
    color: #CCFF02;
}

.highlightteal:hover {
    color: #02CC98;
}

a {
    color: #454545;
}

a:hover {
    color: #CCFF02;
}

.banner {
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#head {
    display: inline;
    color: #282828;
    text-decoration: none;
    text-align: center;
    background-position-y: -0%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: linear-gradient( transparent 50%, #282828 50%);
    background-size: auto 170%;
    transition: background 500ms ease-in-out;
}

#head:hover {
    color: #282828;
    background-position-y: -0%;
    padding-bottom: px;
    background-image: linear-gradient( #CCFF02 30%, transparent 40%);
    background-size: auto 120%;
}
.images-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 200vh; /* Ensure the container takes at least the full height of the viewport */
}
.images-container img {
    flex: 2; /* Make the image expand to fill the available space */
    min-width: 300%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.footer a:hover {
    color: #eff6e0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    position: relative;
    display: flex;
}

.header {
    position: fixed;
    background-color: transparent;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
}

ul {
    background-color: transparent;
}

.under {
    padding-top: 4em;
}

#home {
    color: #eff6e0;
}

h1, h2, h3 {
    font-weight: bold;
    font-size: 2em;
    text-decoration: solid;
    padding-left: 1.5em;
    color: #282828;
    text-decoration: solid;
    padding-top: 0;
    padding-bottom: 0;
}
h1 {
    text-align: center;
}

.h1slogan {
    background-color: transparent;
    color: #eff6e0;
    font-size: 6em;
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    size: 50%;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
    margin-bottom: 60px;
}

.portfolio-item {
    position: relative;
    width: 150px; /* Adjust the width of your images */
    height: auto;
    margin: 10px; /* Adjust the margin between images */
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners to images */
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

li {
    color: #282828;
}

li:hover {
    color: #CCFF02;
}

img {
    display: block;
    position: relative;
    align-items: center;
}

.bullet {
    padding-left: 15em;
}
.bullet li {
    font-size: 400%;
    font-weight: lighter;
    align-items: right;
    font-style: italic;
}

nav li {
    float: left;
}

nav a {
    display: inline;
    color: #282828;
    text-align: center;
    margin: auto;
}

nav a:hover {
    color: #CCFF02;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.right-aligned {
    display: flex;
    justify-content: flex-end;
}

.slide {
    display: none;
}

.slide-image {
    align-items: right;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.slide-image:hover {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.hover-image:hover {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

.thirdeye {
    padding-top: 4em;
    margin: 0 auto;
    width: 65%;
    padding-bottom: 3em;
}
.beside {
    display: flex;
    align-items: flex-start;
}

.beside iframe,
.beside img {
    margin: 0;
    padding: 0;
}



@media (max-width: 768px) {
    #gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .bold {
        font-size: 300%;
    }
    .images-container {
        min-height: auto; /* Reset the minimum height */
    }

    .portfolio-item {
        width: 15%; /* Adjust for smaller screens */
    }
}

@media (max-width: 850px) {
    .bold {
        font-size: 200%;
    }
}

@media (max-width: 700px) {
    p {
        color: #282828;
        padding-inline: 3em;
        font-weight: lighter;
        font-size: 1.5em;
    }
    nav ul {
        flex-direction: column;
        size: 50%;
    }

    .header {
        position: relative;
        top: auto;
        width: auto;
        z-index: auto;
    }
    .bullet {
        padding-left: 7em;
    }
    .bullet li {
        font-size: 200%;

    }
    .small {
        font-size: 50%;
        font-weight: bold;
        align-items: right;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .medium {
        font-size: 100%;
    }
    .under {
        padding-top:  0.5em;
    }
    .gap {
        padding-top: 0.2em;
    }
    #myVideoDesign {
        width: 100%;
        height: auto;
        object-fit: cover; /* Maintain aspect ratio and cover entire container */
    }
    
}

@media (max-width: 480px) {
    #gallery-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.gap {
    padding-top: 10em;
}
.page-content-container {
    position: relative;
    overflow: visible;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    outline: 0;
}

.beside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}
.beside img {
    margin: auto;
}

.beside-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    max-width: 80%;
}
.beside-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    max-width: 50%;
}